name: 'Deploy'

on:
  push:
    branches:
    - master
  pull_request:
  workflow_dispatch:

jobs:
  deploy-infra:
    name: 'Deploy AWS infrastructure'
    runs-on: ubuntu-latest
    environment: production
    permissions:
      id-token: write
      contents: read

    outputs:
      cloudfront_distribution_id: ${{ steps.terraform_outputs.outputs.cloudfront_distribution_id }}


    defaults:
      run:
        shell: bash

    env:
      AWS_REGION: 'eu-west-1'
      TF_VAR_domain_name: 'antoinedelia.fr'
      TF_VAR_bucket_name: ${{ secrets.AWS_S3_BUCKET }}

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v6
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v4

    - name: Terraform Init
      working-directory: ./terraform
      run: |
        terraform init \
          -backend-config="bucket=${{ secrets.S3_TERRAFORM_BUCKET }}" \
          -backend-config="key=${{ secrets.S3_TERRAFORM_STATE_KEY }}"

    - name: Terraform Format
      working-directory: ./terraform
      run: terraform fmt -check

    - name: Terraform Plan
      working-directory: ./terraform
      run: terraform plan

    - name: Terraform Apply
      working-directory: ./terraform
      run: terraform apply -auto-approve

    - name: Get Terraform Outputs
      id: terraform_outputs
      working-directory: ./terraform
      run: |
        echo "s3_bucket_name=$(terraform output -raw s3_bucket_name)" >> $GITHUB_OUTPUT
        echo "cloudfront_distribution_id=$(terraform output -raw cloudfront_distribution_id)" >> $GITHUB_OUTPUT

  deploy-website:
    name: 'Deploy website'
    runs-on: ubuntu-latest
    needs: deploy-infra
    environment: production
    permissions:
      id-token: write
      contents: read
    env:
      AWS_REGION: 'eu-west-1'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Deploy to S3
        working-directory: ./web
        run: |
          aws s3 sync . s3://${{ secrets.AWS_S3_BUCKET }} --delete

      - name: Invalidate CloudFront Distribution
        run: |
          aws cloudfront create-invalidation --distribution-id ${{ needs.deploy-infra.outputs.cloudfront_distribution_id }} --paths "/*"
